@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";

body {
    background: #fafafa;
    text-rendering: optimizeLegibility;
}

body, p {
    font-family: "proxima-nova";
}

p {
    margin-bottom: 1em;
}

#header {
    background: #444 url(http://subtlepatterns.com/patterns/classy_fabric.png);
    background: #444 url(http://subtlepatterns.com/patterns/irongrip.png);
    background: #444 url(http://subtlepatterns.com/patterns/concrete_wall.png);
    /* background: #444 url(http://subtlepatterns.com/patterns/black-Linen.png); */
    margin-top: 40px;

    .container {
        padding: 40px 0;
    }

    h1 {
        color: #efefef;
        font-size: 60px;
        line-height: 1em;
        margin-bottom: 0.5em;
    }

    .back {
        font-size: 14px;
        font-weight: bold;
        color: @grayLight;
        text-transform: uppercase;
    }

    .span4 {
        background: rgba(0,0,0,0.10);
        /* border: 1px solid rgba(0,0,0,0.20); */
        border-radius: 4px;
        box-shadow: 0 0 4px rgba(0,0,0,0.50);
        padding: 7px;

        img {
            display: block;
            margin: 0;
        }
    }
}

#content {
    background: #efefef;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ccc;
    padding: 40px 0;
}

/* Event Details */
.venue {
    img {
        max-width: 100%;
        margin-bottom: 1em;
    }
    .name {
        font-size: 18px;
        font-weight: bold;
    }
    .address {
        color: @grayLight;
    }
}

a, a:visited, a:hover {
    text-decoration: none;
    color: #92CB81;
}

a.btn {
    color: #333;
    font-weight: 600;
}

a.btn-inverse {
    color: #fff;
}

.thumbnail {
    background: #fff;
}

.event-details #content .container {
    padding: 20px;
    background: #fff;
}

.events {
    .caption {
        padding: 1em 0.5em 0;
        
        i {
            opacity: 0.65;
        }
    }
}

.events .caption h2 {
    font-size: 18px;
    line-height: 1em;
    margin-bottom: 0.5em;
}

#footer {
    padding: 40px 0;

    a {
        color: @gray;
    }

    .row > div {
        padding-top: 1em;
        border-top: 3px solid @grayLight;
    }
}

@media (max-width: 979px) {
    .navbar-fixed-top {
        position: static;
        margin-bottom: 0;
    }

    #header {
        margin-top: 0;
    }
}
@media (max-width: 767px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }

    #header,
    #content {
        padding-left: 20px;
        padding-right: 20px;
    }

    #header {
        text-align: center;

        .span4 {
            display: none;
        }

        h1 {
            font-size: 40px;
        }
    }
}

@media (min-width: 1200px) {
    #header h1 {
        font-size: 72px;
    }
}
