<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{% block title %}Design Culture{% endblock %}</title>
		{% block head_scripts %}
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		{% endblock %}
		{% block head_links %}
		<link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="/static/css/960.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="/static/css/text.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen, projection" />
		<!-- <link rel="stylesheet" href="http://kernest.com/fonts/league-gothic.css" type="text/css" media="screen, projection" /> -->
		{% endblock %}
	</head>
	<body class="{% block bodyclass %}{% endblock %}">
		<div id="header">
			<div class="container_16">
				<a id="home-link" class="grid_4" href="/events">Design<br/>Culture</a>
				<ul id="nav" class="grid_12">
					<li class="grid_2 alpha"><strong>Phoenix</strong></li>
					<li class="grid_2">Events</li>
					<li class="grid_2">Venues</li>
					<li class="grid_2">Groups</li>
					<li class="grid_2 omega">News</li>
				</ul>
				<div class="clear"></div>
			</div>
		</div>
		<div id="body">
			<div id="content" class="container_16 {% block contentclass %}{% endblock %}">
		        {% block content %}{% endblock %}
		    </div>
		</div>
		<div id="footer">
			<div class="container_16"></div>
		</div>
	</body>
</html>
