{% extends "base.html" %}

{% block bodyclass %}index_{{index_format}}{% endblock %}

{% block contentclass %}events-grid{% endblock %}

{% block content %}

{% if upcoming_events_list %}
    {% if index_format = 'list' %}
    <div class="grid_12 prefix_4">
        {% for event in upcoming_events_list %}
        <div class="event grid_4">
            <h2><a href="/events/{{event.id}}/">{{event.name}}</a></h2>
            <p class="date">{{event.start_date}}</p>
            <p class="venue">{{event.venue}}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
    {% if index_format = 'grid' %}
    <ul class="thumbnails events">
        {% for event in upcoming_events_list %}
        <li class="span3">
            <div class="thumbnail">
                <img src="http://placehold.it/260x180" alt="">
                <div class="caption">
                    <h2><a href="/events/{{event.id}}/">{{event.name}}</a></h2>
                    <p class="date">{{event.start_date}}</p>
                    <p class="venue">{{event.venue}}</p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% else %}
<p>There are no upcoming events.</p>
{% endif %}
        
{% endblock %}